* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.menu_bar {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

header .icon {
    margin-top: 10px;
}

.logo {
    font-family: 'Nosifer', cursive;
}

.search_bar {
    position: absolute;
    right: 0;
    top: 0;
}

nav ul {
    list-style-type: none;
    box-shadow: 0 0 3px #aaa;
    padding: 25px 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 2%;
}

nav ul li:first-child {
    margin-left: -2%;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.page_wrapper {
    max-width: 1040px;
    margin: 0 auto;
}

section {
    width: 728px;
    float: left;
}

.post {
    width: 46%;
    margin: 40px 4% 0 0;
    float: left;
}

.post img {
    width: 100%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.post span {
    color: #888;
    display: block;
    margin: 10px 0;
}

aside {
    top: 0;
    margin-top: 1px;
    width: 302px;
    float: right;
}

.all_social_bar {
    box-shadow: 0 0 2px #aaa;
    padding: 20px;
}

.all_social_bar span {
    line-height: 35px;
}

.social_bar_aside, .social_bar_footer {
    float: right;
}

.popular_posts, .news_letter {
    box-shadow: 0 0 2px #aaa;
    padding: 25px 20px 20px 20px;
}

.post_aside {
    margin-top: 25px;
}

.post_aside img {
    width: 23%;
}

.post_aside span {
    color: #888;
}

.description_aside {
    float: right;
    width: 74%;
}

form {
    margin-top: 20px;
}

input, button {
    padding: 10px;
}

input {
    width: 75%;
}

button {
    width: 15.5%;
    float: right;
}

.news_letter img {
    width: 100%;
    margin-top: 10px;
}

footer {
    margin-top: 30px;
    box-shadow: 0 0 3px #aaa;
    padding: 25px 0;
}

footer div {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 5px;
}

@media screen and (min-width: 992px) and (max-width: 1039px) {
    .page_wrapper {
        max-width: 100%;
    }

    header, footer div {
        max-width: 90%
    }

    section {
        width: 694px;
    }

    aside {
        width: 297px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header, .page_wrapper {
        max-width: 992px;
    }

    .search_bar {
        padding-right: 10px;
    }

    footer div {
        max-width: 95%;
    }

    section {
        width: 100%;
    }

    .post {
        width: 46%;
        margin: 40px 2% 0 2%;
    }

    aside {
        width: 100%;
        margin-top: 30px;
    }

    .all_social_bar {
        display: none;
    }

    input {
        width: 81%;
    }
}

@media screen and (max-width: 767px) {
    body {
        background-color: #f5f5f5;
    }

    header {
        box-shadow: 0 0 3px #aaa;
        min-height: 65px;
    }

    header, .post .wrapper, aside, footer {
        background-color: #ffffff;
    }

    header .icon {
        margin-top: 15px;
    }

    .post .wrapper {
        box-shadow: 0 0 1px #aaa;
    }

    header, .post, .page_wrapper, section, aside {
        width: 100%;
    }

    .header_wrapper {
        padding-top: 5px;
    }

    .logo {
        font-size: 0.8em;
        margin-top: 5px;
    }

    .menu_bar, nav ul li {
        display: block;
    }

    .menu_bar {
        padding-left: 10px;
    }

    .search_bar {
        padding-right: 10px;
    }

    .all_social_bar, nav {
        display: none;
    }

    nav ul li {
        margin-top: 8px;
    }

    nav ul li:first-child {
        margin: 0 0 0 2%;
    }

    .post {
        margin: 20px 0 0 0;
    }

    .post .wrapper {
        margin: 0 10px;
        padding-bottom: 25px;
    }

    .post span, .post h3 {
        padding: 5px 5px 0 5px;
    }

    aside {
        margin-top: 30px;
    }

    input {
        width: 75.9%;
    }

    footer div {
        max-width: 95%;
    }
}